<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css.css">
    <title>account</title>
</head>

<body>
    <div class="index_wrap">
        <img src="/img/logo.png" class="index_img">
    </div>

    <div class="account_wrap">
        <img src="/img/accountjointext.jpg" class="account_img">
    </div>

    <div class="choice_wrap">
        <a href="/member/signUp">
            <img src="/img/jguardian.jpg" class="api_img">
        </a>
    </div>
    <div class="choice_wrap">
        <a href="/worker/signUp">
            <img src="/img/jworker.jpg" class="api_img">
        </a>
    </div>
</body>

</html>