<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css.css">
    <title>보호자 매칭 성공</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>

        <div class="mainicon">
            <img src="../img/icon.jpg" class="iconimg">
        </div>
    <div class="order_detail_title">요청 상세정보</div>

    <div class="pickup_list_content_wrapp">
        <article>
            <div class="pickup_list_data_wrap">
                <ul>
                    <li>이름: <span>
                            배량현
                        </span></li>
                    <li>성별: <span>
                            남
                        </span></li>
                    <li>질병: <span>
                            간암
                        </span></li>
                    <li>병원: <span>
                            전남대학병원
                        </span></li>
                    <li>신청일: <span>
                            2022-11-26
                        </span></li>
                    <li>요청사항<span>
                        </span></li>
                    <li>
                        <span>
                            곧 죽을 사람입니다 알아서 잘 케어해주세요
                            먹을거 주고 그러면 좋아합니다.
                        </span>
                    </li>
                </ul>
                <br>
            </div>
        </article>
    </div>

    <button class="order_detail_contact_btn" onclick="">매칭취소</button>


        <div class="btn_area">
            <div class="btn_chi">
                <a href="#">
                    <img src="../img/breakdown.jpg" class="btn_img">
                </a>
            </div>
            <div class="btn_chi">
                <a href="#">
                    <img src="../img/home.jpg" class="btn_img">
                </a>
            </div>
            <div class="btn_chi">
                <a href="#">
                    <img src="../img/mypage.jpg" class="btn_img">
                </a>
            </div>
        </div>
</body>

</html>