<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css.css">
    <title>요양보호사 상세 정보</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>

    <div class="mainicon">
        <img src="../img/icon.jpg" class="iconimg">
    </div>
    <div class="order_detail_title">요양보호사 상세정보</div>


    <div class="join_profile_wrap1">
        <div class="join_profile">
            <img src="/img/kakaologin.png" class="myprofile_profile_img">
        </div>
    </div>
    <div class="pickup_list_content_wrapp">
        <article>
            <div class="pickup_list_data_wrap">
                <ul>
                    <li>이름: <span>
                            배량현
                        </span></li>
                    <li>성별: <span>
                            남
                        </span></li>
                    <li>평점: <span>
                            1.2
                        </span></li>
                    <li>경력</li>
                    <li><span>간암환자 7년 케어 경험 있음</span></li>
                    <li>자기소개</li>
                    <li><span>
                            죽은 소 불알을 만져서 살려낸 경력이 있습니다.
                            믿고 맡겨주세요
                        </span>
                    </li>
                    <li>
                        자격증
                    </li>
                </ul>
            </div>
            <div class="lic_wrap">
                <img class="lic_img" src="../img/breakdown.jpg">
            </div>
        </article>
        <table class="workerlist_table1">
            <th class="workerlist_th1">평점</th>
            <th class="workerlist_th1">리뷰</th>

            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>


            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>
            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>
            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>
            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>
            <tr class="workerlist_tr1" style="padding-bottom: 10px;">
                <td class="workerlist_td1" style="width: 15%; padding-bottom: 10px;">
                    <div>0.2</div>
                </td>
                <td class="workerlist_td1" style="width: 85%; padding-bottom: 10px;">
                    저희 가족이 죽은건 다 이놈 때문입니다
                    죽은 소 불알만져서 살려도 죽은 부모님은 살려내질 못했네요<br>
                </td>
            </tr>

        </table>

    </div>


    <button class="order_detail_contact_btn" onclick="">신청하기</button>


</body>

</html>