<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>요양보호사 매칭</title>
</head>

<body>
    <div class="mainicon">
        <img src="/img/icon.jpg" class="iconimg">
    </div>

    <div class="pickup_list_content_wrap">
 

        <table class="workerlist_table">
            <th class="workerlist_th">프로필</th>
            <th class="workerlist_th">이름</th>
            <th class="workerlist_th">성별</th>
            <th class="workerlist_th">평점</th>

            <tr class="workerlist_tr">
                <td class="workerlist_td"><a href="#"><img src="/img/kakaologin.png" alt="no"
                            class="workerlist_img"></a></td>
                <td class="workerlist_td"><a href="#">배량현</a></td>
                <td class="workerlist_td"><a href="#">남</a></td>
                <td class="workerlist_td"><a href="#">0.6</a></td>
            </tr>

            <tr class="workerlist_tr">
                <td class="workerlist_td"><a href="#"><img src="/img/kakaologin.png" alt="no"
                            class="workerlist_img"></a></td>
                <td class="workerlist_td"><a href="#">배량현</a></td>
                <td class="workerlist_td"><a href="#">남</a></td>
                <td class="workerlist_td"><a href="#">0.6</a></td>
            </tr>

            <tr class="workerlist_tr">
                <td class="workerlist_td"><a href="#"><img src="/img/kakaologin.png" alt="no"
                            class="workerlist_img"></a></td>
                <td class="workerlist_td"><a href="#">배량현</a></td>
                <td class="workerlist_td"><a href="#">남</a></td>
                <td class="workerlist_td"><a href="#">0.6</a></td>
            </tr>

        </table>

    </div>

    <div class="btn_area">
        <div class="btn_chi">
            <a href="/request/member/pastRequestList">
                <img src="/img/breakdown.jpg" class="btn_img">
            </a>
        </div>
        <div class="btn_chi">
            <a href="/index">
                <img src="/img/home.jpg" class="btn_img">
            </a>
        </div>
        <div class="btn_chi">
            <a href="/worker/myprofile">
                <img src="/img/mypage.jpg" class="btn_img">
            </a>
        </div>
    </div>

</body>

</html>